---
import { Icon } from 'astro-icon';
---

<script>
	const resultsSelectors = {
		chars: document.querySelector('#result-chars'),
		words: document.querySelector('#result-words'),
		lines: document.querySelector('#result-lines'),
	};
	const resultContainer = document.querySelector('#result');
	const submitButton = document.querySelector('#submit');
	const inputField = document.getElementById('input');

	function resetPage() {
		resultsSelectors.chars.innerHTML = '0';
		resultsSelectors.words.innerHTML = '0';
		resultsSelectors.lines.innerHTML = '0';
	}

	function computeStringStats(event) {
		event.preventDefault();
		resetPage();

		var input = inputField.value.trim();
		console.log(input);
		resultsSelectors.chars.innerHTML = input.length;
		resultsSelectors.words.innerHTML = input
			.replace(/\n/g, ' ')
			.split(' ')
			.filter((element) => {
				return element.trim() !== '';
			}).length;
		resultsSelectors.lines.innerHTML = input.split('\n').length;
	}

	submitButton.addEventListener('click', computeStringStats);
	inputField.addEventListener('keyup', computeStringStats);
	resetPage();
</script>

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Character Counter
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						This tool provides simple statistics over plain-text strings.
					</p>
					<div class="max-w-3xl m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-full">
							<form class="w-full sm:w-full">
								<div
									class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600"
								>
									<div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
										<label for="input" class="sr-only">Your Data</label>
										<textarea
											id="input"
											rows="10"
											class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
											placeholder="Paste your string here.."
											required></textarea>
									</div>
									<div class="flex items-right justify-between px-3 py-2 border-t dark:border-gray-600">
										<button
											type="submit"
											id="submit"
											class="inline-flex items-right py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
										>
											Count
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div
						class="p-4 w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600"
					>
						<div id="result" class="w-full text-left">
							<strong><span id="result-chars">0</span></strong> Characters, <strong
								><span id="result-words">0</span></strong
							> Words, <strong><span id="result-lines">0</span></strong> Lines
						</div>
					</div>
					<div style="margin-top: 75px;">
						<h3 class="font-bold leading-tighter tracking-tighter mb-4 mt-4 font-heading">
							<Icon name="raphael:roadmap" class="w-5 h-5 inline" /> Tool Roadmap
						</h3>
						<p class="text-gray-600 dark:text-slate-400">
							Detailed statistics about the string using the <well>occurences</well> package: <a
								class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
								href="https://www.npmjs.com/package/occurences">Npm</a
							>.
						</p>
						<p class="text-gray-600 dark:text-slate-400">Count characters including spaces and without spaces</p>
						<p class="text-gray-600 dark:text-slate-400">
							Break-down statistics by character type; alphabetical, numerical, or special.
						</p>
						<p class="text-gray-600 dark:text-slate-400">Estimated Reading Time.</p>
						<p class="text-gray-600 dark:text-slate-400">Estimated Speaking Time.</p>
						<p class="text-gray-600 dark:text-slate-400">Toggle on/off initial input whitespace trim.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
