---
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<!--  -->
		<div class="pt-12 md:pt-20">
			<div class="text-center pb-10 md:pb-10 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					The Developer Toolbelt.
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Tooli.Tools is a fully <span
							class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
							>Open-source</span
						> set of dev tools provided in a <span
							class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
							>private</span
						> and <span
							class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
							>advertisment-free</span
						> envrionment. Checkout out <a
							class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
							href="https://github.com/cloudhelvetica/tooli"
							target="_blank">our repo</a
						> to contribute, audit, or self-host.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
