---
import { Icon } from 'astro-icon';

// search icons: https://icon-sets.iconify.design/
const items = [
	{
		title: 'Json Formater',
		description: 'Validate and format Json data with a click of a button',
		icon: 'mdi:code-json',
		slug: 'json',
	},
	{
		title: 'Base64',
		description: 'Encode and decode between Base64 and plain-text',
		icon: 'ri:a-b',
		slug: 'base64',
	},
	{
		title: 'URL-coding',
		description: 'Encode and decode between URL encoded and plain-text',
		icon: 'mdi:file-percent-outline',
		slug: 'url-percent-encoding',
	},
];
---

<script>
	let cards = document.querySelectorAll('.box');
	const alert = document.getElementById('no-results');

	function processSearchQuery(event) {
		event.preventDefault();

		alert.classList.remove('inline-block');
		alert.classList.add('hidden');

		var numHiddenCards = 0;
		let search_query = document.getElementById('search').value;
		for (var i = 0; i < cards.length; i++) {
			if (cards[i].textContent.toLowerCase().includes(search_query.toLowerCase())) {
				cards[i].classList.add('inline-block');
				cards[i].classList.remove('hidden');
			} else {
				cards[i].classList.remove('inline-block');
				cards[i].classList.add('hidden');
				numHiddenCards++;
			}
		}

		if (numHiddenCards == cards.length) {
			alert.classList.remove('hidden');
			alert.classList.add('inline-block');
		}
	}

	let searchForm = document.getElementById('search-form');
	let searchInput = document.getElementById('search');
	searchForm.addEventListener('submit', processSearchQuery);
	searchInput.addEventListener('keyup', processSearchQuery);
</script>

<div class="mb-20 max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
	<div class="w-full sm:w-full">
		<form id="search-form">
			<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
			<div class="relative">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg
						aria-hidden="true"
						class="w-5 h-5 text-gray-500 dark:text-gray-400"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
					</svg>
				</div>
				<input
					type="search"
					id="search"
					class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Search..."
					required
				/>
			</div>
		</form>
	</div>
</div>

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12 text-center">
			<!-- <div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Most used widgets
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Provides frequently used components for building websites using Tailwind CSS
				</p>
			</div> -->
			<div id="no-results" class="hidden text-center py-4 lg:px-4">
				<a href="https://github.com/cloudhelvetica/tooli" target="_blank">
					<div
						class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
						role="alert"
					>
						<span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">
							<Icon name="subway:missing" style="width: 18px; height:18px" />
						</span>
						<span class="font-semibold mr-2 text-left flex-auto"
							>No tools match your search query, consider contributing it?</span
						>
						<svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
							><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"></path>
						</svg>
					</div>
				</a>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon, slug }) => (
						<a class="box" href={slug}>
							<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
								<div class="flex items-center mb-4">
									<Icon name={icon} class="w-12 h-12" />
									<div class="ml-4 text-xl font-bold">{title}</div>
								</div>
								<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</div>
</section>
