---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Json Formater',
		description: 'Validate and format Json data with a click of a button',
		icon: 'mdi:code-json',
		slug: 'json',
	},
	{
		title: 'Base64',
		description: 'Encode and decode between Base64 and plain-text',
		icon: 'ri:a-b',
		slug: 'base64',
	},
	// {
	// 	title: 'Footers',
	// 	description:
	// 		'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
	// 	icon: 'flat-color-icons:faq',
	// },
	// {
	// 	title: 'Features',
	// 	description:
	// 		'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
	// 	icon: 'flat-color-icons:video-projector',
	// },
	// {
	// 	title: 'Call-to-Action',
	// 	description:
	// 		'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
	// 	icon: 'flat-color-icons:video-projector',
	// },
	// {
	// 	title: 'Pricing',
	// 	description:
	// 		'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
	// 	icon: 'flat-color-icons:calculator',
	// },
	// {
	// 	title: 'Testimonial',
	// 	description:
	// 		'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
	// 	icon: 'flat-color-icons:voice-presentation',
	// },
];
---

<script>
	let cards = document.querySelectorAll('.box');

	function liveSearch() {
		let search_query = document.getElementById('search').value;

		//Use innerText if all contents are visible
		//Use textContent for including hidden elements
		for (var i = 0; i < cards.length; i++) {
			if (cards[i].textContent.toLowerCase().includes(search_query.toLowerCase())) {
				cards[i].classList.add('inline-block');
				cards[i].classList.remove('hidden');
			} else {
				cards[i].classList.remove('inline-block');
				cards[i].classList.add('hidden');
			}
		}
	}

	let typingTimer;
	let typeInterval = 50;
	let searchInput = document.getElementById('search');

	searchInput.addEventListener('keyup', () => {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(liveSearch, typeInterval);
	});
</script>

<div class="mb-10 max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
	<div class="flex w-full sm:w-auto">
		<form>
			<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
			<div class="relative">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg
						aria-hidden="true"
						class="w-5 h-5 text-gray-500 dark:text-gray-400"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
					</svg>
				</div>
				<input
					type="search"
					id="search"
					class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Search..."
					required
				/>
				<!-- <button
					type="submit"
					class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>Search</button -->
				<!-- > -->
			</div>
		</form>
	</div>
</div>

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<!-- <div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Most used widgets
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Provides frequently used components for building websites using Tailwind CSS
				</p>
			</div> -->
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon, slug }) => (
						<a class="box" href={slug}>
							<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
								<div class="flex items-center mb-4">
									<Icon name={icon} class="w-12 h-12" />
									<div class="ml-4 text-xl font-bold">{title}</div>
								</div>
								<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</div>
</section>
