---
---

<script src="./doh.js"></script>
<script>
	import jsnview from 'jsnview';
	import 'jsnview/build/index.css';

	const resultContainer = document.querySelector('#result');
	const jsnviewOptions = {
		showLen: true,
		showType: false,
		showBrackets: true,
		showFoldmarker: false,
		colors: { boolean: '#ff2929', null: '#ff2929', string: '#690', number: '#905', float: '#002f99' },
	};

	document.addEventListener('DOMContentLoaded', function (e) {
		document.getElementById('send-query').addEventListener('click', function (e) {
			const simplifyResult = document.getElementById('simpleresult').checked;
			const qname = document.getElementById('qname').value || '.';
			const qtype = document.getElementById('qtype').value || 'A';
			const method = 'POST';
			const timeout = parseInt(document.getElementById('timeout').value) || 1000;
			const url = 'https://cloudflare-dns.com/dns-query';
			if (!url) {
				alert('You forgot to provide a URL!');
				return;
			}

			const resolver = new doh.DohResolver(url);
			resolver
				.query(qname, qtype, method, null, timeout)
				.then((response) => {
					if (simplifyResult) {
						response = response['answers'];
					}
					const treeView = jsnview(response, jsnviewOptions);
					resultContainer.innerHTML = treeView.outerHTML;
				})
				.catch(console.error);
		});
	});
</script>

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					DNS Lookup
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						This tool allows you to perform DNS lookups. It uses DNS over HTTPs provided by cloudflare.
					</p>

					<div class="grid grid-cols-2 gap-5">
						<div>
							<div class="text-left">
								<div class="mb-6">
									<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
										>Domain Name</label
									>
									<input
										type="text"
										id="qname"
										value="cloudhelvetica.com"
										class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									/>
								</div>
								<div class="mb-6">
									<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
										>Record Type</label
									>
									<input
										type="text"
										id="qtype"
										value="A"
										class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									/><p id="qtype" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
										For example: A, AAAA, CNAME, MX, DKIM
									</p>
								</div>
								<div class="mb-6">
									<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
										>Request Timeout</label
									>
									<input
										type="text"
										id="timeout"
										value="10000"
										class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									/>
								</div>
								<label class="relative inline-flex items-center mb-4 cursor-pointer">
									<input type="checkbox" id="simpleresult" checked="checked" value="true" class="sr-only peer" />
									<div
										class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
									>
									</div>
									<span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Simple Results</span>
								</label>
								<div class="text-center items-center justify-between px-3 py-2">
									<button
										type="button"
										id="send-query"
										class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
									>
										Send Query
									</button>
								</div>
							</div>
						</div>

						<div>
							<label for="resres" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>Result</label
							>
							<div
								id="resres"
								class="p-4 h-full w-full border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600"
							>
								<div id="result" class="w-full text-left"></div>
							</div>
						</div>
					</div>
					<div style="margin-top: 75px;">
						<h3 class="font-bold leading-tighter tracking-tighter mb-4 mt-4 font-heading">Acknowledgements</h3>
						<p class="text-gray-600 dark:text-slate-400">
							DNS over HTTPs querying using the <well>doh.js</well> library: <a
								class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
								href="https://github.com/byu-imaal/dohjs">Github</a
							>.
						</p><p class="text-gray-600 mb-8 dark:text-slate-400">
							Json formatting by the <well>json-viewer</well> library: <a
								class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
								href="https://wutility.github.io/json-viewer/">Github</a
							>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
