---
---

<div id="error" class="bg-orange-100 border-t border-b border-orange-500 text-orange-700 px-4 py-3" role="alert">
	<p class="font-bold"><slot name="header" /></p>
	<p class="text-sm"><slot name="body" /></p>
</div>
